:root {
  --text-normal: #fdfdfd;
  --bold-weight: 800;
  --code-tag: rgb(246, 66, 128);
}

body {
  --code-background: rgb(59, 59, 59) !important;
  --blockquote-border-thickness: 7px;
}
pre {
  margin-bottom: 10px !important;
}

.theme-dark {
  --color-red: #f64280;
  --color-red-rgb: 246, 66, 128;
  --color-orange: #f97316;
  --color-orange: 249, 115, 22;
  --color-yellow: #facc15;
  --color-yellow-rgb: 250, 204, 21;
  --color-green: #4ade80;
  --color-green-rgb: 74, 222, 128;
  --color-blue: #3b82f6;
  --color-blue-rgb: 59, 130, 246;
  --color-purple: #a855f7;
  --color-purple-rgb: 168, 85, 247;
  --color-pink: #d946ef;
  --color-pink-rgb: 217, 70, 239;
}

.callout-icon {
  margin-top: 0px;
}

.cm-inline-code {
  color: var(--color-green) !important;
  padding: 1px;
}

/* HIGHLIGHTR STYLES */

/* Makes all hltr classes have white text  */
mark[class^="hltr-"] {
  color: var(--text-normal);
  font-weight: bold;
}

mark.hltr-yellow,
mark.hltr-orange,
mark.hltr-redd {
  color: #1e1e1e;
}

/* DATAVIEW STYLES */

div.dataview-error-box {
  min-height: 50px;
}

.HyperMD-task-line[data-task="-"] {
  color: var(--color-red);
  text-decoration: line-through;
}

/* CALLOUT STYLES */

/* NEED TO UPDATE TO VARIABLES */

.callout[data-callout="abstract"],
.callout[data-callout="tldr"],
.callout[data-callout="related"] {
  --callout-color: 255, 255, 255;
  --callout-icon: lucide-bookmark;
}

.callout[data-callout="snippet"] {
  --callout-color: 255, 255, 255;
  --callout-icon: lucide-file-code;
}

.callout[data-callout="w"] {
  --callout-color: 255, 255, 255;
  --callout-icon: lucide-message-square;
}

.callout[data-callout="archive"] {
  --callout-icon: lucide-archive;
  --callout-color: 255, 255, 255;
}

.callout[data-callout="alert"] {
  --callout-icon: lucide-alert-circle;
  --callout-color: 239, 68, 68;
}

.callout[data-callout="quote"] {
  --callout-color: 168, 85, 247;
}

.callout[data-callout="info"] {
  --callout-color: 68, 117, 233;
}

.callout[data-callout="success"] {
  --callout-icon: lucide-check-check;
  --callout-color: 83, 255, 69;
}

.callout[data-callout="tip"] {
  --callout-icon: lucide-star;
  --callout-color: 59, 130, 246;
}

.callout[data-callout="pin"] {
  --callout-icon: lucide-pin;
  --callout-color: 74, 222, 128;
}

.callout[data-callout="post"] {
  --callout-icon: lucide-edit;
  --callout-color: 250, 204, 21;
}

.callout[data-callout="moc"] {
  --callout-icon: lucide-network;
  --callout-color: 250, 204, 21;
}

.callout[data-callout="summary"] {
  --callout-color: 59, 130, 246;
  --callout-icon: lucide-file-text;
}

.callout[data-callout="test"] {
  --callout-color: 168, 85, 247;
  --callout-icon: lucide-flask-conical;
}

.callout[data-callout="danger"] {
  --callout-color: 233, 151, 63;
  --callout-icon: lucide-construction;
}

.callout[data-callout="date"] {
  --callout-icon: lucide-calendar-days;
  --callout-color: 59, 130, 246;
}

.callout[data-callout="love"] {
  --callout-icon: lucide-heart;
  --callout-color: 217, 70, 239;
}

.callout[data-callout="tweet"] {
  --callout-icon: lucide-twitter;
  --callout-color: 103, 232, 249;
}

.callout[data-callout="success"] {
  --callout-icon: lucide-party-popper;
  --callout-color: 74, 222, 128;
}

.callout[data-callout="reference"] {
  --callout-icon: lucide-external-link;
  --callout-color: 74, 222, 128;
}

.callout[data-callout="reference"] .external-link {
  color: #d3d3d3 !important;
  font-weight: 600;
}

/*  CODE RELATED  */

.callout[data-callout="bug"],
.callout[data-callout="hotkey"] {
  --callout-icon: lucide-command;
  --callout-color: transparent;
  width: 50%;
  border: 2px dotted var(--color-accent);
  padding-left: 12px;
}

.callout[data-callout="hotkey"] > .callout-content,
.callout[data-callout="bug"] > .callout-content {
  background-color: var(--code-background);
  border-radius: 2px;
}

.callout[data-callout="output"],
.callout[data-callout="code"] {
  --callout-color: 59, 130, 246;
  --callout-icon: lucide-code-2 !important;
}

.callout[data-callout="example"] {
  --callout-color: rgb(59, 59, 59, 0.9);
  border: 1px solid var(--color-accent);
}

/* .callout[data-callout="code"] {
  --callout-color: 74, 222, 128;
  --callout-title-color: #fff;
  --callout-icon: lucide-code;
} */

.callout[data-callout="result"] {
  --callout-icon: lucide-check-check;
  --callout-color: 0, 0, 0;
  --callout-title-color: #fff;
}

/* Makes icons for Code and Result callouts white (since it defaults to the callout color which is black) */

.lucide-code-2,
.lucide-check-check,
[data-callout="result"] .lucide-chevron-down {
  color: #ffffff !important;
}

.lucide-check-check {
  color: #4ade80 !important;
}

/* increases opacity of Code and Result callouts when nested in another callout (such as example callout) */

.callout-content > .callout[data-callout="result"] {
  background-color: rgba(var(--callout-color), 0.9);
}

.callout-content > .callout[data-callout="code"] {
  background-color: rgba(255, 255, 255, 0.05);
  --callout-title-color: #fff !important;
}

.callout-content > .lucide-code-2 {
  color: #fff !important;
}

.callout-content > pre {
  /* background-color: rgba(255, 255, 255, 0.2); */
  background-color: rgba(0, 0, 0, 0.5);
}
